@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* DM Sans */
  @font-face {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    src: local("DM Sans Regular"),
      url("/fonts/DMSans/DMSans-Regular.woff") format("woff");
  }

  @font-face {
    font-family: "DM Sans";
    font-style: italic;
    font-weight: 400;
    src: local("DM Sans Italic"),
      url("/fonts/DMSans/DMSans-Italic.woff") format("woff");
  }

  @font-face {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    src: local("DM Sans Medium"),
      url("/fonts/DMSans/DMSans-Medium.woff") format("woff");
  }

  @font-face {
    font-family: "DM Sans";
    font-style: italic;
    font-weight: 500;
    src: local("DM Sans Medium Italic"),
      url("/fonts/DMSans/DMSans-MediumItalic.woff") format("woff");
  }

  @font-face {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    src: local("DM Sans Bold"),
      url("/fonts/DMSans/DMSans-Bold.woff") format("woff");
  }

  @font-face {
    font-family: "DM Sans";
    font-style: italic;
    font-weight: 700;
    src: local("DM Sans Bold Italic"),
      url("/fonts/DMSans/DMSans-BoldItalic.woff") format("woff");
  }
}

@layer components {
  .container {
    @apply max-w-7xl;
  }
  .container-wide {
    @apply max-w-screen-2xl;
  }
  .container-copy {
    @apply max-w-3xl;
  }
  .container-narrow {
    @apply max-w-xl;
  }
  .ultratitle {
    @apply text-6xl font-bold lg:text-7xl xl:text-8xl;
  }
  .title {
    @apply text-5xl font-bold lg:text-6xl xl:text-7xl;
  }
  .subtitle {
    @apply mt-3 text-3xl lg:text-4xl;
  }
  .headline {
    @apply mt-3 mb-3 text-5xl;
  }
  .subheadline {
    @apply mt-0 mb-3 text-3xl;
  }
  .eyebrow {
    @apply mt-0 mb-2 text-4xl text-gray-400 uppercase lg:text-5xl;
  }
  .lead {
    @apply my-2 text-xl lg:my-3;
  }
  .caption {
    @apply font-medium text-gray-200;
  }
  .btn {
    @apply p-2 px-4 bg-blue-300 rounded-md dark:bg-blue-500;
  }
  .card {
    @apply p-2 bg-white border-4 rounded-lg backdrop-blur-md bg-opacity-20 border-yellow-50;
  }
  .card--interactive {
    @apply p-2 transition-all ease-in-out bg-white border-4 rounded-lg backdrop-blur-md bg-opacity-20 border-yellow-50 hover:translate-x-1 hover:scale-105 hover:shadow-sm hover:shadow-white;
  }
}
